/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
.jumbotron {
  padding-bottom: 0px;
  background-color: #C6E4FC;
}
.navbar {
  margin-bottom: 0;
}
